.about-row {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  margin: 0 -15px;
}
.about-card {
  margin: auto;
  /* max-height: 225px; */
  max-width: 350px;
}
.awesome-text {
  text-align: center;
}
.about-card-content {
  padding: 20px;
}
.about-card-img {
  border: 1px solid #da4646;
  border-radius: 50%;
  height: 70px;
  width: 70px;
  margin: 0 auto 30px;
  background-color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
}

.about-card-title {
  font-family: Open Sans;
  font-style: normal;
  font-weight: bold;
  font-size: 20px;
  line-height: 27px;
  color: #333333;
  margin-bottom: 16px;
  text-align: center;
  text-transform: capitalize;
}
.about-card-text {
  font-family: Open Sans;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 19px;
  text-align: center;
  color: #000000;
}
.word {
  text-transform: lowercase;
}
.awesome .fa-solid,
.awesome .fa-brands,
.awesome .fas {
  font-size: 30px;
  color: #e4a671;
}
