.feedback-row {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
.feedback-row-item {
  max-width: 350px;
  margin: 0 15px;
}
.feedback-row-item-text {
  position: relative;
  max-width: 300px;
  background: #e2e2e2;
  border-radius: 7px;
  padding: 22px 8px;
  font-family: Open Sans;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 19px;
  text-align: center;
  color: #86878b;
  margin-bottom: 22px;
}
.feedback-row-item-text ::after {
  content: "";
  position: absolute;
  border: 16px solid transparent;
  border-top: 16px solid #e2e2e2;
  top: 100%;
  left: 40px;
}
.feedback-row-item-customer {
  max-width: 212px;
  margin: auto;
  display: flex;
  justify-content: space-between;
}

.feedback-row-item-customer__img {
  height: 70px;
  width: 70px;
  border-radius: 50%;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
}
.feedback-row-item-customer__img img {
  width: 100%;
}

.feedback-row-item-customer-name {
  display: flex;
  flex-direction: column;
  /* justify-content: end; */
  justify-content: space-evenly;
  font-family: Open Sans;
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 27px;
  text-align: right;
  color: #333333;
  text-transform: capitalize;
  /* padding-top: 8px; */
}
.feedback-row-item-customer-name_prof {
  font-family: Open Sans;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 19px;
  text-align: right;
  color: #86878b;
}
