.firstscreen {
  position: relative;
  background-image: url(../img/firstscreen.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 100vh;
  padding-top: 155px;
}
.firstscreen::before {
  position: absolute;
  top: 0;
  left: 0;
  content: "";
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.45);
}

.firstscreen-row {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}

.firstscreen-logo {
  font-family: "Roboto";
  font-style: normal;
  font-weight: normal;
  font-size: 3.75rem;
  line-height: 4.375rem;
  color: #ffffff;
  text-transform: uppercase;
  margin-bottom: 32px;
}
.firstscreen-logo::after {
  content: "It";
  font-family: "Roboto";
  font-style: normal;
  font-weight: normal;
  font-size: 3.75rem;
  line-height: 4.375rem;
  color: #ec7979;
}
.firstscreen-main-title {
  width: 545px;
}
.firstscreen-main-title h1 {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 400;
  font-size: 2.25rem;
  line-height: 2.625rem;
  color: #ffffff;
  text-transform: uppercase;
  text-align: left;
}
.firstscreen-main-title h1::after {
  display: block;
  content: "";
  width: 64px;
  height: 1px;
  background-color: #ffffff;
  margin-top: 32px;
  margin-bottom: 40px;
}
.firstscreen-subtitle {
  width: 280px;
  margin-bottom: 55px;
}
.firstscreen-subtitle p {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 300;
  font-size: 1rem;
  line-height: 1.1875rem;
  color: rgba(255, 255, 255, 0.8);
  text-align: left;
}
.button.firstscreen-button {
  display: block;
  position: relative;
  background-color: transparent;
  transition: 0.5s;
}
.button.firstscreen-button:hover {
  background-color: rgba(255, 255, 255, 0.8);
  color: #86878b;
}

.firstscreen-right {
  width: 370px;
  background-color: #ffffff;
  border-radius: 8px;
  overflow: hidden;
}
.firstscreen-form-content {
  padding: 20px 59px 55px;
}
.firstscreen-form-title {
  margin-bottom: 60px;
}
.firstscreen-form-title h3 {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 700;
  font-size: 1.25rem;
  line-height: 1.6875rem;
  text-transform: capitalize;
  color: #333333;
}
.firstscreen-form-title span {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 700;
  font-size: 1.25rem;
  line-height: 1.6875rem;
  text-transform: uppercase;
  color: #ec7979;
}

.firstscreen-form-item {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-bottom: 20px;
}
.firstscreen-form-item:last-child {
  margin-bottom: 0;
}
.firstscreen-form-item input {
  outline: none;
  border: none;
  border-bottom: 1px solid #bdbdbd;
  width: 100%;
  color: #777777;
  font-weight: normal;
  font-size: 1rem;
  transition: 0.8s ease;
}
.firstscreen-form-item input:hover {
  background-color: #d3d3d3;
  transition: 0.8s ease;
}
.text-input label {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 0.875rem;
  line-height: 1.1875rem;
  color: #bdbdbd;
}

.form-button {
  width: 100%;
  height: 54px;
  cursor: pointer;
  background-color: #ec7979;
  border: none;

  font-family: "Open Sans";
  font-style: normal;
  font-weight: 600;
  font-size: 0.9375rem;
  line-height: 1.25rem;
  color: #ffffff;
  transition: 0.5s;
}

.form-button:hover {
  background-color: #d45c5c;
  color: #ebe5e5;
}
