.footer {
  background-color: #000000;
  padding: 30px 0 15px;
}

.links-row {
  padding-bottom: 18px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.links__item {
  color: rgba(255, 255, 255, 0.5);
  margin-right: 25px;
  transition: 0.3s;
}
.links__item:last-child {
  margin-right: -25px;
}
.links__item:hover {
  color: rgba(255, 255, 255, 0.8);
}
.footer-text p {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 16px;
  text-align: center;
  color: rgba(255, 255, 255, 0.5);
  text-transform: capitalize;
}
