@import url(../css/header.css);
@import url(../css/social.css);
@import url(../css/awesome.css);
@import url(../css/cdn.css);
@import url(../css/price.css);
@import url(../css/feedback.css);
@import url(../css/design.css);
@import url(../css/contact.css);
@import url(../css/footer.css);

* {
  padding: 0;
  margin: 0;
  list-style: none;
  box-sizing: border-box;
  text-decoration: none;
}
html {
  font-family: "Raleway", "Open Sans", sans-serif;
}
section {
  padding: 80px 0;
}
.container {
  position: relative;
  z-index: 2;
  max-width: 1170px;
  padding: 0 15px;
  margin: auto;
}
.title h2 {
  font-family: "Raleway";
  font-style: normal;
  font-weight: normal;
  font-size: 36px;
  line-height: 42px;
  color: #212121;
  text-align: center;
  margin-bottom: 34px;
  text-transform: uppercase;
}
.title h2::after {
  display: block;
  content: "";
  width: 64px;
  height: 1px;
  margin: auto;
  background-color: #e72424;
  margin-top: 34px;
}
.subtitle p {
  color: #86878b;
  font-weight: 400;
  font-size: 14px;
  text-align: center;
  margin-bottom: 68px;
}
.button {
  width: 125px;
  height: 42px;
  font-family: Open Sans;
  font-style: normal;
  font-weight: 600;
  font-size: 15px;
  line-height: 20px;
  text-align: center;
  color: #ffffff;
  border: 1px solid #ffffff;
  cursor: pointer;
}
