.social {
  background-color: #f8efef;
  padding: 15px 65px;
}

.social-row {
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* flex-wrap: wrap; */
}
.social-text {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  max-width: 360px;
  /* margin-right: 130px; */
  margin: auto 15px;
}
.social-text h2 {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 27px;
  color: #333333;
  text-transform: capitalize;
}
.social-text p {
  font-family: Open Sans;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 19px;
  color: #86878b;
}

.social-list {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 650px;
  font-size: 34px;
}
.social-list:last-child {
  margin-right: 0;
}
.social-list-item {
  padding: 15px;
}

.social_facebook i {
  color: rgba(134, 135, 139, 0.3);
  transition: 0.6s;
}
.social_facebook i:hover {
  color: #3b5998;
  transform: rotate(360deg);
}

.social_twitter i {
  color: rgba(134, 135, 139, 0.3);
  transition: 0.6s;
}
.social_twitter i:hover {
  color: #00acee;
  transform: rotate(360deg);
}

.social_google i {
  color: rgba(134, 135, 139, 0.3);
  transition: 0.6s;
}
.social_google i:hover {
  color: #dd4b39;
  transform: rotate(360deg);
}

.social_pinterest i {
  color: rgba(134, 135, 139, 0.3);
  transition: 0.6s;
}
.social_pinterest i:hover {
  color: #e60023;
  transform: rotate(360deg);
}

.social_instagram i {
  color: rgba(134, 135, 139, 0.3);
  transition: 0.6s;
}
.social_instagram i:hover {
  color: #8a3ab9;
  transform: rotate(360deg);
}

.social_stumbleupon i {
  color: rgba(134, 135, 139, 0.3);
  transition: 0.6s;
}
.social_stumbleupon i:hover {
  color: #eb471d;
  transform: rotate(360deg);
}
.social_whatsapp i {
  color: rgba(134, 135, 139, 0.3);
  transition: 0.6s;
}
.social_whatsapp i:hover {
  color: #43d854;
  transform: rotate(360deg);
}
